<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商品详情</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<style>
    .goods-box{padding-top: 30px;}
    .good-img{height: 200px!important;}
    .info-box{display: flex;flex-flow: column;justify-content: space-around;height: 200px;}
    .info-box .form-group{display: flex;}
    .info-box .form-group *{margin: 0 15px;}
</style>
<body>
    <header class="conatiner-fluid">
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">               
                    <a class="navbar-brand" href="#"><%= title %></a>
                </div>
            
                <div class="user-info-box navbar-right navbar-header">
                    <div class="user-info hidden">
                        欢迎<span  class="nickname label label-info"></span>回来!!!
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button onclick="exit()" class="btn btn-primary">退出</button>
                    </div>
                    <div class="control-btn">
                        <a href="/users/login" class="btn btn-primary">登陆</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/users/register" class="btn btn-primary">注册</a>
                    </div>
                </div>
                
            </div>
        </nav>
    </header>


    <section class="container goods-box">
        <p class="text-right"><a href="/">返回首页</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/list">返回列表</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/car">购物车</a></p>
        <!-- xs768sm992md1200lg+++ -->
        <div class="row">
            <img class="col-xs-12 col-sm-4" title="<%= goods.title %>" src="<%= goods.imgurl %>" alt="">
            <div class="info-box col-xs-12 col-sm-6">
                <div>
                    <h3><%= goods.title %></h3>
                    <p class="text-danger">￥:<%= goods.price %></p>
                </div>
                
                <p class="form-group">
                    <button onclick="changeGoodNum(false)" class="btn btn-primary">-</button>
                    <input id="num-inp" type="text" style="width:80px;" value="1" class="form-control">
                    <button onclick="changeGoodNum(true)" class="btn btn-primary">+</button>
                    <button data-id="<%= goods.goodid %>" class="btn btn-danger buy-btn">加入购物车</button>
                </p>
            </div>   
        </div>
    </section>

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.cookie.js"></script>
    <script>
        
        init()

        function init(){
            check_login()
        }

        function check_login(isNull){
            let _isNull= isNull || true
            var user_info = $.cookie("user_info")
            
            if(user_info&&_isNull){
                $(".user-info").removeClass("hidden").find(".nickname").text(JSON.parse(user_info).nickname)
                $(".control-btn").addClass("hidden")   
            }else{
                $(".user-info").addClass("hidden")
                $(".control-btn").removeClass("hidden")   
            }
        }


        function exit(){
            $.cookie('user_info',null)
            check_login(false)
        }


        function changeGoodNum(type){
            let num =  parseFloat($("#num-inp").val())
            num+=type?1:-1
            if(num<1) num=1;
            $("#num-inp").val(num)
        }

        $(".buy-btn").click(function(){
            let user_info = JSON.parse($.cookie("user_info"))
            if(!user_info){
                alert('请登陆后操作')
                return ;
            }
            let username = user_info.username
            let goodid = $(this).data("id")
            $.ajax({
                url:'/goods/add.do',
                type:'post',
                data:{
                    username:username,
                    goodid:goodid,
                    num:parseFloat($("#num-inp").val())
                },
                success:function(results){
                    if(results==1){
                        alert('加入失败，请稍后重试')
                    }else{
                        alert('成功')
                    }
                }
            })
        })

    </script>
</body>
</html>
